
body {
  background-color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

h1, p {
  color: #CCCCCC;
}

#container {
  height: 400px;
  position: absolute;
  background-color: transparent;
  z-index: 100;
}

#notes {
  background: black;
  display: inline;
}

canvas {
  position: relative;
}

#summary {
  float: left;
}
